@import 'sass/_base';

.report {

    &__animation-container {
        background-image: linear-gradient(217deg, #f2fff9, #dff2eb);
        display: flex;
        justify-content: center;
        min-height: 390px;

        div {
            overflow: visible !important;

            svg {
                margin-top: 32px;

                @include breakpoint(l) {
                    margin-top: 0;
                }
            }
        }

        @include breakpoint(s) {
            min-height: 450px;
        }

        @include breakpoint(l) {
            width: 50%;
            display: flex;
            height: calc(100vh - 70px);
            min-height: 600px;
            align-items: center;
            float: left;

            div {
                transition: all 2s;
                transform: scale(1.05);
            }

            &--scale {

                div {
                    transform: scale(1);
                }
            }
        }
    }

    &__content-container {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @include breakpoint(l) {
            width: 50%;
            float: right;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: calc(100vh - 70px);
            min-height: 600px;
        }
    }

    @include breakpoint(l) {
        display: block;
        height: calc(100vh - 70px);
        min-height: 600px;
    }

}

.heading {
    font-size: 32px;
    font-weight: 300;
    width: 216px;
}

.fade-in {

    &--scroll {
        animation: fadeIn 0.1s ease-in;
    }

    &--jump {
        animation: fadeIn 2s ease-in;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
