@import 'sass/_base';

.about {
    margin-bottom: 24px;

    @include breakpoint(l) {
        margin-bottom: 138px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint(l) {
            align-items: center;
        }
    }

    &__heading {
        font-weight: 300;
        font-size: 24px;

        @include breakpoint(l) {
            font-size: 44px;
        }
    }

    &__subheading {
        font-size: 16px;
        font-weight: 300;
    }

    &__cards {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 440px;

        @include breakpoint(s) {
            height: 500px;
            justify-content: center;
        }

    }

    &__cards-container {

    }

    &__content-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 100vw;

        @include breakpoint(l) {
        }
    }

}

.card {
    width: 254px;
    height: 438px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    margin-right: 14px;
    margin-left: 14px;
    float: left;

    @include breakpoint(l) {
        width: 304px;
        height: 448px;
    }

    &__content {
        padding-left: 24px;
        padding-right: 24px;
    }

    &__image {
        width: 254px;
        height: 164px;

        @include breakpoint(l) {
            width: 304px;
            height: 200px;
        }
    }

    &__heading {
        font-size: 18px;
        font-weight: 500;
        color: #263648;
    }

    &__section {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 3.4px;
        text-align: left;
        color: #9d9d9d;
    }

    &__subheading {
        font-size: 14px;
        font-weight: 100;
        color: #5a6470;
    }
}
